body{
    margin:0;
    background:darkgray;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    gap: 20px;
    padding-top: 20px;
}
#carCanvas{
    background:rgb(23, 22, 29);
}
#networkCanvas{
    background:rgb(40, 40, 40);
}